body {
    font-family: Arial, sans-serif;
    background-color: #EDF1D6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

h1 {
    text-align: center;
    color: #343a40;
}

#back-button {
    position: absolute;
    font-size: 2rem;
    color: #fff;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

#back-button:hover {
    color: #5a6268;
    text-decoration: none;
}

form {
    background-color: #9DC08B;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input[type="text"], input[type="url"], input[type="number"], textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #40513B;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, button:hover {
    background-color: #609966;
}

.ingredient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient label {
    flex: 1 0 100%;
    margin-bottom: 5px;
}

.ingredient input {
    flex: 1 0 100%;
    margin-bottom: 10px;
}

.ingredient button {
    background-color: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    margin-left: 10px;
}

#ingredients h3 {
    margin-top: 0;
}

@media (min-width: 600px) {
    .ingredient label {
        flex: 1;
        margin-bottom: 0;
    }
    .ingredient input {
        flex: 2;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .ingredient input:last-child {
        margin-right: 0;
    }
    .ingredient button {
        flex: none;
        margin-top: 0;
        margin-left: 10px;
    }
}
