/* home.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #343a40;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input[type="text"], input[type="url"], input[type="number"], textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* home.css */
/* Existing CSS styles */
.category-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add rounded corners */
    border: 1px solid #ced4da; /* Add border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}


.category-item img {
    max-width: 100%;
    height: auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}
