/* home.css */

html {
    overflow: scroll;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2e8cf;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
}

.container > *:first-child {
    margin-left: -5rem;
    margin-top: 3rem;
}

.container > *:last-child {
    margin-right: 9rem;
}

.main-content {
    width: 90%;
}

h1,
h2,
h4 {
    color: #343a40;
    margin-bottom: 15px;
}

.header {
    position: sticky;
    top: 0;
    background-color: #babd8d;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-and-add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.search-section {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 25rem;
    margin-right: 20px; 
    margin-left: 35rem;
}

.search-container {
    position: relative;
    width: 100%;
}

.add-recipe-section {
    width: auto;
    margin: 0;
}

.add-recipe-section button {
    background-color: #40513B;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    margin-right: 35rem;
}

.add-recipe-section button i {
    margin-right: 2px;
}

.add-recipe-section button:hover {
    background-color: #609966;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .search-section {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .add-recipe-section {
        width: 100%;
        justify-content: center;
    }
}

#searchField {
    width: 25rem;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchIcon {
    position: absolute;
    left: 42.5rem;
    top: 43%;
    transform: translateY(-50%);
    color: #959595;
    pointer-events: none;
}

#searchField:focus::placeholder {
    color: transparent;
}

#searchButton:hover {
    background-color: #609966;
}

#searchDropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 20px); /* Adjust width to match search field minus padding */
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.add-recipe-section {
    display: flex;
    align-items: center;
}

input[type="text"],
button,
a button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button,
a button {
    background-color: #40513B;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: none;
}

button:hover,
a button:hover {
    background-color: #609966;
}

.categories-section {
    position: relative;
    width: 85%;
}

.carousel-control-custom-prev,
.carousel-control-custom-next {
    position: absolute;
    top: 50%;
    background-color: #40513B;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    /* text-align: center; */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    white-space: nowrap;
    width: auto;
    height: 2rem;
}


.carousel-control-custom-prev:hover,
.carousel-control-custom-next:hover {
    background-color: #609966;
}


.carousel-control-custom-prev {
    left: -50px; /* Adjust this value to move the button further left */
}

.carousel-control-custom-next {
    right: -50px; /* Adjust this value to move the button further right */
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 20px;
    vertical-align: middle;
    margin-top: -1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-size: cover;
}

.carousel-inner {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.category-item {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.category-item.selected {
    border-color: #609966;
    border-width: 5px;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.category-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
}

#recipeList {
    padding-inline-start: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.recipe-section {
    position: relative;
    width: 120%;
}

#totalCount {
    margin-bottom: 20px;
}

.recipe-item {
    height: 90%;
    width: 100%;
    border: 1px solid #babd8d;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.recipe-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.recipe-item h5 {
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
}

.recipe-item p {
    margin-top: 5px;
    color: #666;
    font-size: 0.9em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

#ingredientsFilter {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

#ingredientsFilter label {
    margin-bottom: 5px;
}

#ingredientsFilter::-webkit-scrollbar {
    width: 8px;
}

#ingredientsFilter::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#ingredientsFilter::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#ingredientsFilter::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter-section {
    max-height: 50rem; /* Adjust this value to show approximately 20 ingredients */
    overflow-y: auto;
    width: 20rem;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.form-group {
    margin-top: 1rem;
}

#timeContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#timeSlider {
    width: 100%;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background-color: #609966;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    border-radius: 5px;
}

#timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

#timeSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

#timeSliderValue {
    margin-top: 5px;
    text-align: center;
    font-size: 1rem;
    color: #555;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    left: 0.5rem;
    font-size: 2rem;
    padding: 0rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #40513B;
    border-radius: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.4rem;
    height: 0.7rem;
    border-right: 0.2rem solid #40513B;
    border-bottom: 0.2rem solid #40513B;
    transform: scale(0) rotate(45deg);
    transform-origin: bottom right;
    transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: #40513B;
    border-color: #40513B;
}

input[type="checkbox"]:checked::before {
    border-color: #fff;
    transform: scale(1) rotate(45deg);
}

@media (min-width: 600px) {
    .search-section,
    .add-recipe-section,
    .categories-section,
    .recipes-section {
        width: 80%;
    }
    #searchDropdown {
        width: calc(22% - 20px);
        top: calc(70% + 3px);;
        left: auto;
    }
}

@media (min-width: 1024px) {
    .search-section,
    .add-recipe-section,
    .categories-section,
    .recipes-section {
        width: 130%;
    }
}
