/* home.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2e8cf;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

/* lagt til for å gjøre main content større */
.main-content {
    width: 90%;
  }

h1,
h2,
h4 {
color: #343a40;
margin-bottom: 15px;
}

.header {
    position: sticky;
    top: 0;
    background-color: #babd8d;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-section {
    display: flex;
    align-items: center;
    width: 33.33%; /* 1/3 of the header width */
    max-width: 400px; /* Adjust this value as needed */
    margin-right: 20px; /* Space between search field and button */
}

.add-recipe-section {
    width: 15%;
    max-width: 15%; /* Adjust as needed */
}

.add-recipe-section button {
    background-color: #40513B;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
}

.add-recipe-section button:hover {
    background-color: #609966;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .search-section {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .add-recipe-section {
        width: 100%;
        justify-content: center;
    }
}

#searchField {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

#searchButton:hover {
    background-color: #609966;
}

#searchDropdown {
    position: absolute;
    top: calc(100% - 13px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 2px);
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.add-recipe-section {
    display: flex;
    align-items: center;
}

input[type="text"],
button,
a button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button,
a button {
    background-color: #40513B;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: none;
}

button:hover,
a button:hover {
    background-color: #609966;
}

.categories-section {
    position: relative;
    width: 85%;
  }

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    color: #000000;
    z-index: 1000;
}

.carousel-control-prev {
    left: -90px;
}

.carousel-control-next {
    right: -60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-color: #000000;
    background-size: cover;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.category-item {
    /* width: 190px;
    height: 135px; */
    /* lagt til */
    width: auto; /* lagt til */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }

.category-item.selected {
    border-color: #609966;
    border-width: 5px;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.category-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
}

#recipeList {
    padding-inline-start: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -15px;
    margin-right: -15px; */
}

/* lagt til */
.recipe-section {
    position: relative;
    width: 120%;
  }

.recipe-item {
    height: 90%;
    width: auto;
    border: 1px solid #babd8d;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    margin: #babd8d;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
  }

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.recipe-item img {
    width: 130px;
    height: 122px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

/* dobbeltsjekk h type/størrelse her at den stemmer med html */
.recipe-item h5 {
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
  }

.recipe-item p {
    margin-top: 5px;
    color: #666;
    font-size: 0.9em;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

#ingredientsFilter {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

#ingredientsFilter label {
    margin-bottom: 5px;
}

#ingredientsFilter::-webkit-scrollbar {
    width: 8px;
}

#ingredientsFilter::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#ingredientsFilter::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#ingredientsFilter::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter-section {
    max-height: 50rem; /* Adjust this value to show approximately 20 ingredients */
    overflow-y: auto;
    width: 15rem;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
    /* margin-left: 0.5rem; */
  }
  
  #filterContainer {
  }
  
  .form-group {
    margin-top: 1rem;
    /* width: 100%; */
    /* border: 0.1rem solid #ced4da; */
  }
  
  #timeContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    left: 0.5rem;
    font-size: 2rem;
    padding: 0rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #40513B;
    border-radius: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.4rem;
    height: 0.7rem;
    border-right: 0.2rem solid #40513B;
    border-bottom: 0.2rem solid #40513B;
    transform: scale(0) rotate(45deg);
    transform-origin: bottom right;
    transition: transform 0.2s ease-in-out;
  }
  
  input[type="checkbox"]:checked {
    background-color: #40513B;
    border-color: #40513B;
  }
  
  input[type="checkbox"]:checked::before {
    border-color: #fff;
    transform: scale(1) rotate(45deg);
  }

@media (min-width: 600px) {
    .search-section,
    .add-recipe-section,
    .categories-section,
    .recipes-section {
        width: 80%;
    }
    #searchDropdown {
        width: calc(100% - 20px);
        left: 10px;
    }
}

@media (min-width: 1024px) {
    .search-section,
    .add-recipe-section,
    .categories-section,
    .recipes-section {
        width: 60%;
    }
}
